body {
  background-color: #f5f9e9;
  color: #36453b;
  text-align: center;
}

h1 {
  font-size: 400%;
}

.info {
  display: none;
  width: 60%;
  margin: 0 auto;
}

.item-1 {
  display: block;
}

/* nav bar styling */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

h3:hover {
  cursor: pointer;
  font-weight: bolder;
}

.icon {
  padding-top: .5%;
  padding-left: .5%;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #a4ac86
}

.nav-links ul {
  display: flex;
  position: relative;
  right: 20%;
}

.nav-links ul li {
  margin: 0 2%
}

footer {
  background-color: #a4ac86;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 0
}

.footer-links {
  display: flex;
  justify-content: space-around;
}
