* {
  box-sizing: border-box;
}

body {
  background-color: #f5f9e9;
  color: #333d29;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

h1 {
  font-size: 200%
}

h2 {
  font-size: 200%;
  width: 100%
}

h4 {
  margin-top: 6%;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  width: 80%;
  position: relative;
  left:10%
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.icon {
  padding-top: .5%;
  padding-right: .5%;
}

/* Nav-bar styling */

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #a4ac86;
  position: sticky;
  top: 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: #a4ac86;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #333d29;
}

/* Dropdown content hidden until clicked */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a4ac86;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #283618
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}


/* Footer */

footer {
  background-color: #a4ac86;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 0;
  margin-top: 4%
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
margin: 0 1%;
}
