body {
  background-color: #f5f9e9;
  color: #36453b;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* nav bar styling */

#nav {
  display: flex;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  position: relative;
  right: 20%;
}

.nav-links ul li {
  margin: 0 2%
}
