body {
  background-color: #f5f9e9;
  color: #36453b;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 400%;
}

.icon {
  padding-top: .5%;
  padding-left: .5%;
}

/* nav bar styling */

#nav {
  display: flex;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  position: relative;
  right: 20%;
}

.nav-links ul li {
  margin: 0 2%
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #a4ac86
}

.nav-links ul {
  display: flex;
  position: relative;
  right: 20%;
}

.nav-links ul li {
  margin: 0 2%
}

footer {
  background-color: #a4ac86;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 0
}

.footer-links {
  display: flex;
  justify-content: space-around;
}
