body {
  background-color: #f5f9e9;
  color: #36453b;
  text-align: center;
}

img {
  width: 40%;
  height: 40%;
}

.carousel-images div:first-of-type {
	display:block;
}

.carousel-images div {
	display:none;
}

/* nav bar styling */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#nav {
  display: flex;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  position: relative;
  right: 20%;
}

.nav-links ul li {
  margin: 0 2%
}
