body {
  background-color: #f5f9e9;
  color: #36453b;
  text-align: center;
}

h1 {
  font-size: 400%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-container {
	width: 70%;
  height: 40%;
	display: flex;
	justify-content: center;
}

.carousel-images {
	background: #c2c1a5;
	padding: 10px;
  height: 18rem;
  width: 18rem;
}

.carousel-button {
	align-self: center;
	background: #c2c1a5;
	padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
	text-align: center;
}

.carousel-button:hover {
	cursor: pointer;
	background: #bfcc94;
}

img {
  width: 40%;
}

.carousel-images div:first-of-type {
	display:block;
}

.carousel-images div {
	display:none;
}

/* nav bar styling */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

.icon {
  padding-top: .5%;
  padding-left: .5%;
}


/* Nav-bar styling */

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #a4ac86;
  position: sticky;
  top: 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: #a4ac86;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #333d29;
}

/* Dropdown content hidden until clicked */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a4ac86;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #283618
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

footer {
  background-color: #a4ac86;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 0
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  margin: 0 1%;
}
