body {
  background-color: #f5f9e9;
  color: #36453b;
  text-align: center;
}

h1 {
  font-size: 400%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-container {
	width: 70%;
  height: 40%;
	display: flex;
	justify-content: center;
}

.carousel-images {
	background: #c2c1a5;
	padding: 10px;
  height: 20rem;
  width: 20rem;
}

.carousel-button {
	align-self: center;
	background: #c2c1a5;
	padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
	text-align: center;
}

.carousel-button:hover {
	cursor: pointer;
	background: #bfcc94;
}

img {
  width: 40%;
}

.carousel-images div:first-of-type {
	display:block;
}

.carousel-images div {
	display:none;
}

/* nav bar styling */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

.icon {
  padding-top: .5%;
  padding-left: .5%;
}


#nav {
  display: flex;
  justify-content: space-between;
  background-color: #a4ac86
}

.nav-links ul {
  display: flex;
  position: relative;
  right: 20%;
}

.nav-links ul li {
  margin: 0 2%
}

footer {
  background-color: #a4ac86;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 0
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  margin: 0 1%;
}
